<ion-list>

  <ion-item (click)="onclick(1)">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2">
          <i class="fas fa-edit" color="primary" style="padding-right: 1em;"></i>
        </ion-col>
        <ion-col size="10">
          <ion-label>Modificar</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item (click)="onclick(2)">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2">
          <i class="fas fa-list" color="primary" style="padding-right: 1em;"></i>
        </ion-col>
        <ion-col size="10">
          <ion-label>Consultar</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  
</ion-list>

