<ion-header class="animated zoomIn">    
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click) = "salir()">
              <i class="fas fa-backspace fa-2x" style="color: rgb(245, 245, 245);"></i>
          </ion-button>
      </ion-buttons>
      <ion-title class="titulo">Lista {{ titulo }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated zoomIn">

<ion-slides mode="ios" scrollbar="ios">
    <ion-slide>
        <app-alumnos [alumnos] = "this.alumnos"></app-alumnos>
    </ion-slide>
    <ion-slide>
        <!-- <ion-content scrollY="true"> -->
            <app-grafico-alumno></app-grafico-alumno>
        <!-- </ion-content> -->
    </ion-slide>
</ion-slides>




</ion-content>