
<!-- ---------------------------------------------------------------------------- -->
<!-- UBICA 1 COLEGIO EN EL MAPA CON 1 CLICK USANDO EL COMPONENTE APP-MAPA-UBICAR  -->
<!-- ---------------------------------------------------------------------------- -->

<ion-header class="animated fadeInLeft">    
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click) = "salir()">
              <i class="fas fa-backspace fa-2x" style="color: rgb(245, 245, 245);"></i>
          </ion-button>
      </ion-buttons>
      <ion-title>Ubicar Colegio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="item-grid">
    <ion-list >
      <ion-item>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="10">
              <ion-input type="text" 
                         placeholder="localidad" 
                         [(ngModel)]="localidad" 
                         ></ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-button (click)="UbicaLocalidad()" expand="block" fill="clear" shape="round">
                <i class="fas fa-location-arrow fa-2x"></i>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-list>
      <app-mapa-ubicar [ubicacion] = "ubicacion" (ubicado)="ubicado($event)"></app-mapa-ubicar>
    </ion-list>
  </div>
</ion-content>
