.item-grid{   
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 4rem;
    grid-template-columns: 1fr;
    padding-bottom: 0.1em;
}

ion-input{
    text-transform: capitalize;
}

.autocomplete{
    position: absolute;
    z-index: 100;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.ilistComunas{
    overflow-y: scroll;
}
