<ion-header class="animated fadeInLeft">    
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click) = "salir()">
              <i class="fas fa-backspace fa-2x" style="color: rgb(245, 245, 245);"></i>
          </ion-button>
      </ion-buttons>
      <ion-title *ngIf="!isModificar">Agregar Colegio</ion-title>
      <ion-title *ngIf="isModificar">Modificar Colegio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeInLeft"  >

    <form [formGroup]="forma" autocomplete="false" class="item-grid">
        <ion-list>
            <ion-item>
                <ion-label position="floating" class="mb-2">Provincia</ion-label>
                <ion-select placeholder="Selecccione Provincia" formControlName="provincia"
                            #provincia
                            (ionChange) = "cambioProvincia($event)"
                            >
                                <ion-select-option [value]="item" *ngFor="let item of provincias">{{ item }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>

                <ion-label position="floating" class="mb-2">Localidad</ion-label>
                
                <ion-input
                            name="localidad"
                            type="text"
                            #localidad
                            formControlName="localidad"
                            [class.is-invalid] = "campoNoValido('localidad')" 
                            (ionChange) = "buscar( $event )"
                            (ionBlur) = "cierraBlur()">
                    
                </ion-input>
                <small *ngIf="campoNoValido('localidad')" class="text-danger">
                    El localidad no es valido
                </small>
                   
            </ion-item>  
            <ion-item class="autocomplete" 
                      *ngIf="this.buscaMuni && (municipios | filtroMunicipio: muniFiltro).length > 0">
                <ion-content scrollY="true" style="height: 15rem" class="ilistComunas">
                    <ion-list >
                        <ion-item *ngFor="let item of municipios | filtroMunicipio: muniFiltro"
                                  (click) = "elijeMuni( item )">
                            <ion-label>{{ item.nombre }}</ion-label>
                        </ion-item>
                    </ion-list>
                </ion-content>            
            </ion-item>
            <ion-item>
                <ion-label position="floating" class="mb-2">Nombre</ion-label>
                <ion-input name="nombre" 
                            type="text"
                            formControlName="nombre"
                            [class.is-invalid] = "campoNoValido('nombre')" ></ion-input>

                <!-- <ion-spinner *ngIf="colegio.pending" name="bubbles"></ion-spinner> -->
                <small *ngIf="campoNoValido('nombre')" class="text-danger">
                    El nombre no es valido o el colegio ya existe en esa localidad
                </small>
            </ion-item>
            <ion-item>
                <ion-label position="floating" class="mb-2">tipo</ion-label>
                <ion-select name="tipo"
                            formControlName="tipo"
                            placeholder="Select One">
                                <ion-select-option value="privado">Privado</ion-select-option>
                                <ion-select-option value="estatal">Estatal</ion-select-option>
                </ion-select>

            </ion-item>
                     
        </ion-list>
        <ion-list>
            <ion-button *ngIf="!isModificar" (click)="onColegio()" expand="block" fill="clear" shape="round">
                Guardar
            </ion-button>
            <ion-button *ngIf="isModificar" (click)="onColegioModificar()" expand="block" fill="clear" shape="round">
                Modificar
            </ion-button>
        </ion-list>
    </form>

</ion-content>
