<ion-header class="animated fadeInLeft">    
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click) = "salir()">
              <i class="fas fa-backspace fa-2x" style="color: rgb(245, 245, 245);"></i>
          </ion-button>
      </ion-buttons>
      <ion-title *ngIf="!isModificar">Agregar Colegio</ion-title>
      <ion-title *ngIf="isModificar">Modificar Colegio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeInLeft">

    <form (ngSubmit)="onColegio()" [formGroup]="forma" autocomplete="false" class="item-grid">

        <ion-list>
            <ion-item *ngIf="!isModificar">
                <ion-label position="floating" class="mb-2">Codigo</ion-label>
                <ion-input name="codigo" 
                            type="text"
                            formControlName="codigo"
                            [class.is-invalid] = "campoNoValido('codigo')" 
                            (keyup.enter) = "merror()"></ion-input>

                <!-- <ion-spinner *ngIf="colegio.pending" name="bubbles"></ion-spinner> -->
                <small *ngIf="campoNoValido('codigo')" class="text-danger">
                    El codigo no es valido
                </small>
            </ion-item>
            <ion-item>
                <ion-label position="floating" class="mb-2">Nombre</ion-label>
                <ion-input name="nombre" 
                            type="text"
                            formControlName="nombre"
                            [class.is-invalid] = "campoNoValido('nombre')" 
                            (keyup.enter) = "merror()"></ion-input>

                <!-- <ion-spinner *ngIf="colegio.pending" name="bubbles"></ion-spinner> -->
                <small *ngIf="campoNoValido('nombre')" class="text-danger">
                    El nombre no es valido
                </small>
            </ion-item>
            <ion-item>
                <ion-label position="floating" class="mb-2">temporada</ion-label>
                <ion-select name="temporada"
                            formControlName="temporada"
                            placeholder="Select One">
                                <ion-select-option value="2021">2021</ion-select-option>
                                <ion-select-option value="2022">2022</ion-select-option>
                                <ion-select-option value="2023">2023</ion-select-option>
                </ion-select>

            </ion-item>
            <ion-item>
                <ion-label position="floating" class="mb-2">Provincia</ion-label>
                <ion-select placeholder="Selecccione Provincia"
                            #provincia
                            >
                                <ion-select-option [value]="item" *ngFor="let item of provincias">{{ item }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="floating" class="mb-2">Localidad</ion-label>
                <ion-input name="localidad" 
                            type="text"
                            formControlName="localidad"
                            [class.is-invalid] = "campoNoValido('localidad')" 
                            (keyup.enter) = "UbicaLocalidad()"></ion-input>

                
                <small *ngIf="campoNoValido('localidad')" class="text-danger">
                    El localidad no es valido
                </small>
            </ion-item>           
        </ion-list>
        <ion-list *ngIf="!isModificar">
              <app-mapa-ubicar [ubicacion] = "ubicacion" (ubicado)="ubicado($event)"></app-mapa-ubicar>
        </ion-list>
        <ion-list>
            <ion-button *ngIf="!isModificar" (click)="onColegio()" expand="block" fill="clear" shape="round">
                Guardar
            </ion-button>
            <ion-button *ngIf="isModificar" (click)="onColegioModificar()" expand="block" fill="clear" shape="round">
                Modificar
            </ion-button>
        </ion-list>
    </form>

</ion-content>
