// .login-icon {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 120px;
//   height: 120px;
//   margin-top: 120px;
// }

.login-icon {
  background-color: rgb(255, 255, 255);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-top: 3em;
  margin-bottom: 2em;
  border: 1px solid rgb(231, 122, 122);
  padding: 2px;
  box-shadow: 13px 13px 40px #797d83, -13px -13px 20px #ffffff;
}

.content-relative {
  position: relative;
}

.boton-bottom {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.grid-repartido {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr 3em 3em;
  align-items: center;
}

ion-row{
  margin-top: 1em;
}