
.colorTitulo{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(250, 178, 95);
}

ion-button{
    font-size: 0.7rem;
}

.txtAlumno{
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgb(231, 111, 12);
}