.login-icon {
    background-color: rgb(255, 255, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-top: 3em;
    margin-bottom: 2em;
    border: 1px solid rgb(231, 122, 122);
    padding: 2px;
    box-shadow: 6px 6px 20px #797d83, -6px -6px 20px #ffffff;
  }
  
  .content-relative {
    position: relative;
  }
  
  .boton-bottom {
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  
  .grid-repartido {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 5em;
    grid-template-columns: 1fr;
    padding-bottom: 1em;
  }

  .grid-repartidox4 {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 5em;
    grid-template-columns: 1fr;
    padding-bottom: 1em;
  }

  .grid-repartidox2 {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 5em;
    grid-template-columns: 1fr;
    padding-bottom: 1em;
  }

  .grid-repartido img {
    align-self: center;
  }
  
  ion-content {
    height: 90%;
  }

  ion-row{
    margin-top: 0.6em;
  }

  form, ion-slides, ion-slide{
      height: 100%;
      width: 100%;
  }

  ion-button {
    width: 100%;
  }
  
  .thead-mio{
    //background-color: var(--ion-color-primary);
    //color: white;
  }

  .ion-input {
    text-transform: capitalize;
  }

  .curCodigo{
    text-transform: lowercase;
  }
