<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuPrincipal" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nuevo Post
    </ion-title>
    <ion-spinner slot="end" name="bubbles" *ngIf = "Guardando"></ion-spinner>
    <ion-buttons slot="end">
      <ion-button 
                  [disabled]="post.mensaje.length < 1 && post.titulo.length < 0"
                  (click)="crearPost()"
                  color="primary">
        Compartir
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input [(ngModel)]="post.titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">SubTítulo</ion-label>
      <ion-input [(ngModel)]="post.subtitulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea [(ngModel)]="post.mensaje"></ion-textarea>
    </ion-item>

  </ion-list>

  <ion-row>
    
    <ion-col size="12">
      <ion-button expand="full"
                  shape="round"
                  (click)="cargarImagenes()">
        <ion-icon slot="start" name="images"></ion-icon>
        Galería
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3" *ngFor="let image of tempImages; let i = index">
      <ion-card (click) = "sacarImagen(i)">
        <img [src]="image | image">
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col size="3" *ngFor="let image of tempImages">
      <ion-card>
        <!-- <img [src]="image | imageSanitizer"> -->
      </ion-card>
    </ion-col>
  </ion-row>



</ion-content>

