<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuPrincipal" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Cartelera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="../../../assets/images/descarga.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bienvenidos</h5>
          <p class="card-text">Es el punto de entrada al mundo PIRULO TOUR & ASOC.</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
